acmart.cls
sample-sigconf.synctex.gz
*.doc
*.docx
*.cut
*.log
*.aux
*.cfg
*.glo
*.idx
*.toc
*.ilg
*.ind
*.out
*.lof
*.lot
*.bbl
*.blg
*.gls
*.cut
*.hd
*.dvi
*.ps
*.thm
*.tgz
*.zip
*.rpi
*.gz
*.synctex.gz
sample-*.synctex.gz
*~
